header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    background-color: #735bff;
}
header img{
    height: 50px;
}
.partieAdmin{
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0;
}
.produitCont{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
}
.produit{
    width: 200px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: #2600ff 0px 0px 10px;
}

.produit div{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.produit div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.description{
    padding: 10px;
    text-align: justify;
}
.qt{
    width: 30px;
}
.produitIMG{
    width: 100px;
}
.produitPanier{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.total{
    text-align: right;
    margin-right: 10%;
}
.formulaireCMD{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.infoPerso{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.adresseFacture, .adresseLivraison, .infoCB{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.adresseFacture div, .adresseLivraison div{
    display: flex;
}
input{
    margin: 5px;
}
#panier-popOver {
    display: none;
    position: absolute;
    transform: translateX(-45%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#panier:hover #panier-popOver{
    display: block;
}
#panier-popOver h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(55, 0, 255); /* Couleur principale */
}
#panier-popOver table {
    width: 100%;
    border-collapse: collapse;
}
#panier-popOver table, #panier-popOver th, #panier-popOver td {
    border: 1px solid #ccc;
}
#panier-popOver th, #panier-popOver td {
    padding: 8px;
    text-align: center;
}
#panier-popOver th {
    background-color: rgb(55, 0, 255); /* Couleur principale pour l'en-tête du tableau */
    color: white;
}
#panier-popOver td[colspan="3"] {
    font-weight: bold;
}